@CHARSET "UTF-8";

body {
	font-size: 11px;		/* フォントサイズを11ptにする */
    line-height:1.4;        /* 1行の間を1.4行分にする */
	font-family: 'Osaka', 'メイリオ', 'ＭＳ Ｐゴシック';		/* font-familyを指定 */
	color: #555;			/* ベースのフォントカラー */
    background: white;  	/* 背景色を白にする。 */
}

div {
	border:		1px solid #AAA;
}

/* 画面上部メニュー領域 */
.topMenu {
	float:		top;
	width:		528px;
	height:		36px;
	display:	inline-block;
}

/* 画面左部メニュー領域（検索領域） */
.leftMenu {
	float:		left;
	width:		144px;
	height:		370px;
	display:	inline-block;
}

/* 画面メインコンテンツ領域 */
.mainMenu {
	float:		left;
	width:		528px;
	height:		560px;
	display:	inline-block;
}

/* カレンダー領域 */
.calender {
	height:		112px;
	width:		112px;
}

/* 検索領域 */
.searchArea {
	margin-top:	32px;
	height:		204px;
}

/* 非表示領域 */
.ShowHide {
	display:	none;
}
/* いいねボタンの登録状況 いいねしている状態（赤くする） */
.b_favorite.f-on {
	color:	red;
}
/* 未読にするボタンの登録状況 未読状態で押せない */
.b_no_read.r-on {
	disabled:	disabled
}
