@CHARSET "UTF-8";

body {
	font-size: 11px;		/* フォントサイズを11ptにする */
    line-height:1.4;        /* 1行の間を1.4行分にする */
	font-family: 'Osaka', 'メイリオ', 'ＭＳ Ｐゴシック';		/* font-familyを指定 */
	color: #555;			/* ベースのフォントカラー */
    background: white;  	/* 背景色を白にする。 */
}

div {
	border:		1px solid #AAA;
}

/* 画面全体の領域 */
.main {
	width:		674px;
	height:		372px;
	display:	inline;
	left:		145px;
	display:	inline;
}
/* 画面上部メニュー領域 */
.topMenu {
	float:		top;
	width:		528px;
	height:		36px;
	display:	inline;
	left:		145px;
}

/* 画面左部メニュー領域（検索領域） */
.leftMenu {
	float:		left;
	width:		144px;
	height:		370px;
	display:	inline-block;
}

/* 画面メインコンテンツ領域 */
.mainMenu {
	float:		left;
	width:		528px;
	height:		560px;
	display:	inline-block;
	left:		145px;
	top:		37px;
}

/* カレンダー領域 */
.calender {
	height:		112px;
	width:		112px;
}

/* 検索領域 */
.searchArea {
	margin-top:	32px;
	height:		204px;
}

/* index_line配下のdiv幅 */
.index_line div {
	width:		80px;
	display:	inline-block;
}

/* blockArea配下のdiv幅 */
.blockArea span {
	width:		50px;
	border:		1px solid #AAA;
}
/* アコーディオン展開エリアの初期状態 */
.accordion_area {
	display:	none;
}

/* content_index配下（日報概要内）の表示・非表示項目 */
.content_index .report_date {
	width:		80px;
	display:	inline-block;
}
.content_index .user_name {
	width:		80px;
	display:	inline-block;
}
.content_index .read_count {
	width:		80px;
	display:	inline-block;
}
.content_index .read_status {
	width:		80px;
	display:	inline-block;
}
.content_index .comment_count {
	width:		80px;
	display:	inline-block;
}
.content_index .favorite_count {
	width:		80px;
	display:	inline-block;
}
.content_index .content_id {
	display:	none;
}
.content_index .user_id {
	display:	none;
}
.content_index .entry_format {
	display:	none;
}
.content_index .entry_status {
	display:	none;
}
.content_index .base_parent_content_id {
	display:	none;
}
.content_index .grand_parent_content_id {
	display:	none;
}
.content_index .parent_content_id {
	display:	none;
}
.content_index .favorite_status {
	display:	none;
}
/* content_index配下（日報概要内）の表示・非表示項目 */
.content_detail .blockArea .content_id {
	display:	none;
}
.content_detail .blockArea .detail_id {
	display:	none;
}
.content_detail .blockArea .fixed_item_id {
	display:	none;
}
.content_detail .blockArea .index_name {
	width:		485px;
	display:	block;
}
.content_detail .blockArea .main_text {
	width:		485px;
	display:	block;
}

/* いいねボタンの登録状況 いいねしている状態（赤くする） */
.f-on {
	color:	red;
}
/* 未読にするボタンの登録状況 未読状態で押せない */
.r-on {
	disabled:	disabled
}

/* comment_area配下（コメント表示領域）の表示・非表示項目 */
.comment_area .report_date {
	width:		80px;
	display:	inline-block;
}
.comment_area .user_name {
	width:		80px;
	display:	inline-block;
}
.comment_area .read_count {
	width:		80px;
	display:	inline-block;
}
.comment_area .read_status {
	width:		80px;
	display:	inline-block;
}
.comment_area .comment_count {
	width:		80px;
	display:	inline-block;
}
.comment_area .main_text {
	width:		490px;
	display:	inline-block;
}
.comment_area br {
	hight:		0px;
}
.comment_area .favorite_count {
	width:		80px;
	display:	inline-block;
}
.comment_area .content_id {
	display:	none;
}
.comment_area .user_id {
	display:	none;
}
.comment_area .entry_format {
	display:	none;
}
.comment_area .entry_status {
	display:	none;
}
.comment_area .base_parent_content_id {
	display:	none;
}
.comment_area .grand_parent_content_id {
	display:	none;
}
.comment_area .parent_content_id {
	display:	none;
}
.comment_area .favorite_status {
	display:	none;
}

