@CHARSET "UTF-8";

body {
	font-size: 11px;		/* フォントサイズを11ptにする */
    line-height:1.4;        /* 1行の間を1.4行分にする */
	font-family: 'Osaka', 'メイリオ', 'ＭＳ Ｐゴシック';		/* font-familyを指定 */
	color: #555;			/* ベースのフォントカラー */
    background: white;  	/* 背景色を白にする。 */
}

div {
	border:		1px solid #AAA;
}

/* 画面上部メニュー領域 */
.topMenu {
	float:		top;
	width:		528px;
	height:		50px;
	display:	inline-block;
}

/* 画面メインコンテンツ領域 */
.main {
	float:		top;
	width:		528px;
	height:		82px;
	display:	inline-block;
}

/* 画面下部メニュー領域（検索領域） */
.downMenu {
	float:		top;
	width:		528px;
	height:		50px;
	display:	inline-block;
}
/* index_line配下のdiv幅 */
.index_line div {
	width:		80px;
	display:	inline-block;
}
.user_status {
	display:	none;
}
.b_add_family_hidden {
	display:	none;
}
.family_relation {
	width:		80px;
 readonly:	readonly;
}
.family_name {
	width:		80px;
 readonly:	readonly;
}
.family_name_kana {
	width:		80px;
 readonly:	readonly;
}
.family_support {
	display:	none;
}
.family_support_title {
	width:		80px;
 readonly:	readonly;
}
