<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Topページ</title>
  <!-- Top画面用CSSを読み込む。 -->
  <link href="css/Top.css" rel="stylesheet" type="text/css" />
  <!-- Queryの本体を読み込む。 -->
  <script src="js/jquery-1.11.0.min.js"></script>
  <!-- jQueryUIを読み込む。 -->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- 定数クラスを読み込む。 -->
<script src="js/Constants.js"></script>
</head>

<body>

<div class="main">

<div class="leftmenu"></div>

<div class="topmenu"></div>




<div class="mainmenu"></div>


</div>

</body>

</html>
