<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Topページ</title>
  <!-- Top画面用CSSを読み込む。 -->
  <link href="css/Top.css" rel="stylesheet" type="text/css" />
  <!-- Queryの本体を読み込む。 -->
  <script src="js/jquery-1.11.0.min.js"></script>
  <!-- jQueryUIを読み込む。 -->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- 定数クラスを読み込む。 -->
  <script src="js/Constants.js"></script>
  <!-- 基底画面クラスを読み込む。 -->
  <script src="js/BaseWindow.js"></script>
  <!-- 画面描画クラスを読み込む。 -->
  <script src="js/WindowDesign.js"></script>
  <!-- 作成画面クラスを読み込む。 -->
  <script src="js/CreateWindowsDetail.js"></script>
  <!-- トップ画面用クラスを読み込む。 -->
  <script src="js/TopWindowDetail.js"></script>
</head>

<body style="visibility:hidden">

<div class="main">
	
<div class="leftMenu">
	<div class="calender">カレンダー領域</div>
	<div class="searchArea">
		<p class="searchIndex">FROM</p>
		<input class="serach_from_date" type="date" th:value="${from}"></input>
		<p class="searchIndex">TO</p>
		<input class="serach_to_date" type="date" th:value="${to}"></input>
		<p class="searchIndex">対象ユーザ</p>
		<input class="serach_user" type="text"></input>
		<p class="searchIndex">既読</p>
		<select class="serach_read" type="text">
			<option value="">含んで表示</option>
			<option value="">除いて表示</option>
			<option value="">のみ表示</option>
		</select>
		<p class="searchIndex">下書</p>
		<select class="serach_note" type="text">
			<option value="">含んで表示</option>
			<option value="">除いて表示</option>
			<option value="">のみ表示</option>
		</select>
		<button class="b_serach">検索</button>
	</div>
</div>

<div class="topMenu">
	<button class="b_new_report" value="b_new_report">新規日報</button>
	<div class="user_id" style="display:none" th:text="${user.userId}"></div>
	<div class="user_name" th:text="${user.userName}"></div>
	<div class="user_authority" style="display:none" th:text="${user.userAuthority}"></div>
	<div><button class="b_chart_summary">グラフ集計</button></div>
	<div><button class="b_logout">ログアウト</button></div>
	<div><button class="b_logout_auto">ログアウト</button></div>
</div>

<div class="mainMenu">
	<div class="content_area">
		<div class="report_area">
			<div class="title">日報一覧</div>
			<div class="serach_message"></div>
	
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	// トップウインドウ用のインスタンスを生成する
	thisElem = new TopWindowDetail();
	// 初期化処理を実行する
	thisElem.createTopWindow();
</script>

</body>

</html>
