<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Topページ</title>
  <!-- Top画面用CSSを読み込む。 -->
  <link href="css/userEditWindow.css" rel="stylesheet" type="text/css" />
  <!-- Queryの本体を読み込む。 -->
  <script src="js/jquery-1.11.0.min.js"></script>
  <!-- jQueryUIを読み込む。 -->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- 定数クラスを読み込む。 -->
  <script src="js/Constants.js"></script>
  <!-- 基底画面クラスを読み込む。 -->
  <script src="js/BaseWindow.js"></script>
  <!-- 画面描画クラスを読み込む。 -->
  <script src="js/WindowDesign.js"></script>
  <!-- 作成画面クラスを読み込む。 -->
  <script src="js/CreateWindowsDetail.js"></script>
  <!-- ユーザ編集画面用クラスを読み込む。 -->
  <script src="js/UserEditWindowDetail.js"></script>
</head>

<body>

<div class="topMenu">
	<p>ユーザ登録・編集画面</p>
</div>
<div class="main">
	<div class="content_area">
		<p class="index">ユーザID</p>
		<input class="user_id nomal_content" type="text"></input>
		<button class="b_over_lap">重複チェック</button>
		<p class="index">パスワード</p>
		<input class="login_password nomal_content" type="password"></input>
		<p class="index">パスワード（再）</p>
		<input class="login_password_sai" type="password"></input>
		<p class="index">氏名（漢字）</p>
		<input class="user_name nomal_content" type="text"></input>
		<p class="index">氏名（カナ）</p>
		<input class="user_name_kana nomal_content" type="text"></input>
		<p class="index">生年月日</p>
		<input class="user_birthday nomal_content" type="date"></input>
		<p class="index">性別</p>
		<select class="user_sex nomal_content" type="text">
			<option value="1">男性</option>
			<option value="2">女性</option>
			<option value="3">その他</option>
		</select>

		<p class="index">メールアドレス</p>
		<div class="mail_area add_content">
			<button class="b_add_mail" value="b_add_mail">メールアドレスの追加</button>
		</div>
		
		<p class="index">住所</p>
		<div class="address_area add_content">
			<button class="b_add_address" value="b_add_address">住所の追加</button>
		</div>
		
		<p class="index">電話番号</p>
		<div class="tel_area add_content">
			<button class="b_add_tel" value="b_add_tel">電話番号の追加</button>
		</div>
		
		<p class="index">所属会社</p>
		<select class="campany_id nomal_content" type="text" name="campany_id">
			<option value="0"></option>
			<option value="1">デジタルデザインシンク</option>
			<option value="2">1株式会社</option>
			<option value="3">2株式会社</option>
			<option value="4">3株式会社</option>
			<option value="5">4株式会社</option>
			<option value="6">5株式会社</option>
			<option value="7">6株式会社</option>
			<option value="8">7株式会社</option>
			<option value="9">8株式会社</option>
			<option value="10">9株式会社</option>
		</select>
		
		<p class="index">所属部署</p>
		<select class="department_id nomal_content" type="text" name="department_id">
			<option value="0"></option>
			<option value="1">人事</option>
			<option value="2">総務</option>
			<option value="3">調達</option>
			<option value="4">施設</option>
			<option value="5">管理</option>
		</select>
		
		<p class="index">役職</p>
		<select class="position_id nomal_content" type="text" name="position_id">
			<option value="0"></option>
			<option value="1">一般</option>
			<option value="2">主任</option>
			<option value="3">係長</option>
			<option value="4">部長</option>
			<option value="5">課長</option>
		</select>
		
		<p class="index">所持資格</p>
		<div class="qualification_area add_content">
			<button class="b_add_qualification" value="b_add_qualification">資格の追加</button>
		</div>
		
		<p class="index">家族構成</p>
		<div class="qualification_area add_content">
			<div class="index_line">
				<div>続柄</div><div>氏名（漢字）</div><div>氏名（カナ）</div><div>扶養</div>
			</div>
			<button class="b_add_family" value="b_add_family">家族構成の追加</button>
		</div>
		
	</div>
</div>
<div class="downMenu">

	<button class="b_cancel" value="b_cancel">戻る</button>
</div>



<script type="text/javascript">
	setTimeout(function() {
		// ユーザ一覧用のインスタンスを生成する
		thisElem = new UserEditWindowDetail();
		// 初期化処理を実行する
		thisElem.createUserEditWindow();
	}, 200);
</script>
</body>

</html>
