<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Topページ</title>
  <!-- Top画面用CSSを読み込む。 -->
  <link href="../css/familyEditWindow.css" rel="stylesheet" type="text/css" />
  <!-- Queryの本体を読み込む。 -->
  <script src="../js/jquery-1.11.0.min.js"></script>
  <!-- jQueryUIを読み込む。 -->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- 定数クラスを読み込む。 -->
  <script src="../js/Constants.js"></script>
  <!-- 基底画面クラスを読み込む。 -->
  <script src="../js/BaseWindow.js"></script>
  <!-- 画面描画クラスを読み込む。 -->
  <script src="../js/WindowDesign.js"></script>
  <!-- 作成画面クラスを読み込む。 -->
  <script src="../js/CreateWindowsDetail.js"></script>
  <!-- 家族構成編集画面用クラスを読み込む。 -->
  <script src="../js/FamilyEditWindowDetail.js"></script>
</head>

<body>
<div class="topMenu">
	<p>家族構成編集画面</p>
</div>
<div class="main">
	<div class="content_area">
		<p class="index">氏名（漢字）</p>
		<input class="family_name" type="text"></input>
		<p class="index">氏名（カナ）</p>
		<input class="family_name_kana" type="text"></input>
		<p class="index">続柄</p>
		<input class="family_relation" type="text"></input>
		<p class="index">扶養</p>
		<input class="family_support" type="text"></input>
	</div>
</div>
<div class="downMenu">
	<button class="b_update" value="b_update">更新</button>
	<button class="b_cancel" value="b_cancel">戻る</button>
</div>

<script type="text/javascript">
	setTimeout(function() {
		// ユーザ一覧用のインスタンスを生成する
		thisElem = new FamilyEditWindowDetail();
		// 初期化処理を実行する
		thisElem.createFamilyEditWindow();
	}, 200);
</script>

</body>

</html>
