<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Topページ</title>
  <!-- Top画面用CSSを読み込む。 -->
  <link href="../css/userListWindow.css" rel="stylesheet" type="text/css" />
  <!-- Queryの本体を読み込む。 -->
  <script src="../js/jquery-1.11.0.min.js"></script>
  <!-- jQueryUIを読み込む。 -->
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- 定数クラスを読み込む。 -->
  <script src="../js/Constants.js"></script>
  <!-- 基底画面クラスを読み込む。 -->
  <script src="../js/BaseWindow.js"></script>
  <!-- 画面描画クラスを読み込む。 -->
  <script src="../js/WindowDesign.js"></script>
  <!-- 作成画面クラスを読み込む。 -->
  <script src="../js/CreateWindowsDetail.js"></script>
  <!-- ユーザ一覧画面用クラスを読み込む。 -->
  <script src="../js/UserListWindowDetail.js"></script>
</head>

<body style="visibility:hidden">


<div class="main">
	
<div class="leftMenu">
	<div class="searchArea">
		<p class="searchIndex">ユーザID</p>
		<input class="user_id" type="text"></input>
		<p class="searchIndex">ユーザ名</p>
		<input class="user_name" type="text"></input>
		<p class="searchIndex">年齢</p>
		<p class="searchIndex">Min</p>
		<input class="min" type="text" pattern="^[0-9]+$"></input>
		<p class="searchIndex">Max</p>
		<input class="max" type="text" pattern="^[0-9]+$"></input>	
		
		<p class="searchIndex">性別</p>
		<select class="user_sex" type="text">
			<option value=""></option>
			<option value="1">男性</option>
			<option value="2">女性</option>
			<option value="3">その他</option>
		</select>

		<button class="b_serach">検索</button>
	</div>
</div>

<div class="topMenu">
	<p>ユーザ一覧画面</p>
	<div><button class="b_cancel">戻る</button></div>
</div>

<div class="mainMenu">
	<div class="content_area">
		<div class="serach_message"></div>
	</div>
</div>
</div>
<script type="text/javascript">
	setTimeout(function() {
		// ユーザ一覧用のインスタンスを生成する
		thisElem = new UserListWindowDetail();
		// 初期化処理を実行する
		thisElem.createUserListWindow();
	}, 200);
</script>

</body>

</html>
